@tailwind base;
@tailwind components;
@tailwind utilities;



@media screen and (max-width: 768px) {
  .ml--13px-mb {
    margin-left: -13px;
  }
}

/* Hide scrollbar for Chrome, Safari and Opera */
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.hide-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
